---
import FormRiskCalculator from '../components/forms/FormRiskCalculator.svelte';
---
<html lang="en">
	<head>

		<!-- Essentials -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<meta name="generator" content={Astro.generator}/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>

		<!-- Title -->
		<title>Stocks Risk Calculator</title>

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>

		<!-- App Stylesheets -->
		<link rel="stylesheet" href="/assets/css/app.css"/>

	</head>
	<body class="bg-gray-50 font-body">
		<div class="app flex flex-col min-h-screen">
			<main class="py-10 px-6 flex-1 flex flex-col justify-center">
				<FormRiskCalculator client:visible/>
			</main>
			<footer class="px-3 py-4 text-center bg-gray-200">
				<p class="text-sm">Designed & maintained with <span class="text-red-600">❤️</span> by <a href="https://websorcier.com" class="text-blue-500 font-semibold" target="_blank">Web Sorcier</a></p>
			</footer>
		</div>
	</body>
</html>
